<div class="container">
  <div class="row justify-content-center align-items-center">
    <form>
      <div class="form-group">
        <label for="userid">User ID</label>
        <input type="text" class="form-control" id="userid" placeholder="Enter user ID">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" placeholder="First name">
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" placeholder="Last name">
        </div>
      </div>
      <div class="form-group">
        <label for="billing-address">phone number</label>
        <input type="number" class="form-control" id="billing-address" placeholder="phone number">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Age">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>

  </div>
</div>
